<div class="container">
  <p>
    <strong>Title:</strong>
      <%= @post.title %>
    </p>

  <p>
    <strong>Text:</strong>
    <%= @post.text %>
  </p>

  <%= link_to 'Edit', :controller => "posts", :action => "edit", :id => @post %>
  <%= link_to 'Back', :controller => "posts", :action => "index" %>
  <%= link_to 'Delete', :controller => "posts", :method => "delete", :id => @post %>
</div>
